/* Styles go here */



.style1{
 width: 600px;
 border-style:solid;
 border-color: black !important;
 border-color: red;
} 



#are{  
width: 140px !important;
width: 700px;
border-style: solid;
margin: 0 auto;
}

#by{  
    width: 300px;
    border-style: solid;
    margin: 0 auto;
}

.crenew{  
    width: 300px;
    border-style:outset;
    
    }

   

 .button{  
        width: 100px;
        border-style:ridge;
        }
    
    .students{


        width: 400px;
        border-style: double;

        
    }


    /* Apartat de Herencia  CSS */


    body {
        font-family: Arial ;
        background-color: red;

       }

    #heren{

        background-color: blue;


    }



/* Apartat dels selectors avanzats*/
  
    a[href="tasca.html"] { color: green; }
    a[href="usuari.html"] { color:white; }


    input[type=text]:focus {
        border: 3px solid yellow;
    }
    
    td[class="externo"] { color: white }

    td > strong { color: black};


   