
.ul{
list-style-type: decimal;
}


.ul2{
    list-style-type: upper-latin;
    }

    .ul3{
   list-style-type: lower-latin;        
    }


    .ul4{
        list-style-type: upper-roman;        
         }
     
     

    .ul5{
        list-style-type: lower-roman;        
         }
     
     