/* Styles go here */


/*------------------------------------*\
    $CONTINGUT del html 
\*------------------------------------*/
/*
 *Contingut del html 
    * Header.....Part del principi,lo relacionat amb el titol,la icona etc.....
    * Body.......La part intermitja, Tot lo relacionat amb la tabla del get ranking,la tabla, els punts ,les activitat etc...
    *Footer......La part final del html, tot lo relacionat amb la firma del creador, l`hora etc....
 */


                            

                                    /*-----------*\
                                        $Header
                                    \*-----------*/

.header{
    color:black;
    font-size: 25px;
}

.header__title{
    text-shadow: 10px 15px 3px purple;
}


.header__menu{
    font-size: 25px;
}

.header__enllac{
    text-shadow: 10px 15px 3px purple; 
}


.header__title{
    color:black;
    font-size: 20px;
}






                                
                                        /*----------*\
                                            $Body  
                                        \*---------*/


.main{
  
    width:25%;
    border:0px;
    
}
.main__points{
    text-shadow: 10px 4px 1px black ;
}


.main__input{
    box-shadow: 20px 7px 3px red;
    border-bottom-right-radius: 7px;
   
}


.main__button{

    box-shadow: 7px 7px 3px #000;
}




 
                                        /*-----------*\
                                             $Footer 
                                        \*-----------*/

.footer{
 width:25%;
 border:0px;                                
}

.footer__creator{
    text-shadow: 10px 15px 3px purple;
}


.footer__hour{
    text-shadow: 0px -10px 1px blue ;
}





















