/* Styles go here */

#origin{

border:10px double;
padding:100px;
background: url(./podio.png);
background-repeat: no-repeat;
background-origin:content-box;
}


#estudiant{
    border: 10px solid black;
    padding:10px;
    background:lightblue;
    background-repeat: no-repeat;
    background-clip: content-box;
}

#tasca{
border: 2px solid black;
padding: 25px;
background: url(./podio.png);
background-repeat: no-repeat;
background-size: 200px 100px;
}