/* Styles go here */


img{ 
    transform-origin:center;
    transform: rotate( -50deg);
    
    
}

#hora{
    
    
    transform: translate(40px,-30px);
  
 
} 


td{

    transform: translate(40px,10px);

}

h2:last-of-type{

    transform: translate(40px,-10px);

}



    #title{

        transform: translate(40px,20px);

    }

    tr{

        transform: skewX(20deg); 

    }