#div1{
    max-width: 25%;
    border-width: 5px;
    border-style:solid; 
    border-top-width: 12px;
    border-left-width:thin;
    border-right-width:1em ;
    border-bottom-width:thick;
}

#div2{  
    width: 300px;  
    margin-left: 27%;
    border-style:solid; 
    border-top-color:red;
    border-left-color:gray;
    border-right-color:blue;
    border-bottom-color:green;
    border-top-width: 12px;
    border-left-width:thin;
    border-right-width:1em ;
    border-bottom-width:thick;

}

#p2{

margin:0;

}

#p1{

margin: 1em;
}