/* Styles go here */

.wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
      
    flex-flow: column;
  
    
    font-weight: bold;
    text-align: center;
  }
  
 
  .header {
    background:gray;
  }
  
  .footer {
  background:black ;
    color: white;

   border: 2px solid red;

  }
  
  .body {
    text-align: left;
    background: green ;
    padding-bottom: 100px;
  
  }
  
  body{

    margin: 0px;
    background: grey;
  }
  

  
/*   
  @media all and (min-width: 600px) {
    .aside { flex: 1 auto; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  } */
