/* Styles go here */

h2 {
    text-shadow: 10px 15px 3px purple;
}

input[type="Submit"]{


    box-shadow: 7px 7px 3px #000;
}

input{

    box-shadow: 20px 7px 3px red;
   border-bottom-right-radius: 7px; 
}

td:nth-of-type(3){
    text-shadow: 10px 4px 1px black ;
}


time{

    text-shadow: 0px -10px 1px blue ;

}