li:first-of-type,li:last-of-type{

    background-color: gold;
    width: 150px;

}


td:first-of-type{
    
        background-color:rgb(207, 204, 204);
       
    
    }
    

    #bord1{
        border:solid;
        width: 190px;
    
    }

    #bord2{
        border:solid;
        padding: 2em;


    }
