/* Styles go here */

.fondo, #barra{

    animation-name: fondo;
    animation-duration: 15s; 
    animation-iteration-count:2;
}

@keyframes fondo {

0% {

    background-color: white;
}

30% {

    background-color:rgb(4, 87, 241);
}

50% {
    
        background-color:green ;
    }
    
70% {
        
        background-color: yellow ;
        }

100% {
            
        background-color:rgb(255, 145, 0) ;
    }
    
}


.load, #barra{

    animation-name:load;
    animation-duration: 3s; 
    animation-iteration-count:1;


}

@keyframes load{
    from { transform: scaleX(0); }
    to   { transform: scaleX(1); }
}

#barra{
height:15px;
width:50px;
background-color:rgb(86, 151, 248);


}

#barra2{
    border: solid;
    width: 50px;
    
}