/* Styles go here */


.grid {
    background: orange;
    margin: 0px;
    text-align: center;
  display:grid;
  grid-template-areas: "head head"
                       "menu main"
                       "foot foot";
                      
}

.a { grid-area:head; background:cyan }
.b { grid-area:menu; background:red }
.c { grid-area:main; background:green }
.d { grid-area:foot; background:orange }
